html, body { margin: 0; padding: 0; }

table {
  border-collapse: collapse;
  xxxfont-family: Georgia, Times, serif;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  border: 1px solid #A8A8A8;
  vertical-align: top;
}



/**************
* Overall Stuff
***************/

.month_header { 
  direction: rtl; 
  background: slateblue;
  font-weight: bold; 
  font-style: italic;
  padding-bottom: 4px;

  display: flex;
  justify-content:center ;
  align-items: center;
}

.month_header_hebrew {
  font-size: 60px; 
  vertical-align: middle;
  height: 100%;
  padding-left: 30px;

}

.month_header_english {
  font-size: 40px; 
  vertical-align: bottom;
}


.calendar {
  direction: rtl;
}

.daysheader {
  background: #C0C0C0;
  height: auto;
  text-align: center;
}


/****************************************
Day Layout
*****************************************/
.day-td {
  border: 1px solid #A8A8A8;
}

/**
* Sizing of cells
**/
.othermonthdate, .day-cell {
  height: 150px;
  width: 150px;

}

.day-cell {
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.shabbat {
  background-color: lightblue;
}

.holiday {
  background-color: cornflowerblue;
}

.plain-day, .minorday {
  background-color: antiquewhite;
}


.othermonthdate {
  background-color: #E0E0E0;
  text-align: center;
  
}

.fillerimg {
    max-width: 80%;
    max-height: 140px;
}


.event-img-block {
  text-align: center;
}

.event-img {
  max-width: 80%;
  max-height: 50px;
}

/********************************
Title Section
*********************************/


.day-title-group {

}

.day-title{
  font-weight: bold;
  text-align: center;

}

.title-row {
  display: flex;
  justify-content:space-between;
  direction: rtl;
}

.heb-date {
  float: left;
  
  border: none;
}

.eng-date {
  float: left;
}




.birthday {
  text-align: center;
  vertical-align: middle;
  background-color: goldenrod;
};

.birthday-name {
  font-size:100%; 
  font-weight: bold;
}

.birthday-img {
  height: 1em;

}

.yahrzeit {
  text-align: center;
  vertical-align: middle;
  background-color:darkgrey;
};

.yahrzeit-name {
  font-size:100%; 
  font-weight: bold;
}

.yahrzeit-img {
  height: 1em;

}

.anniv {
  display: flex;
  justify-content:center;
  background-color: coral;
  align-items: center;
}

.anniv-img {
  float: right;
  height: 1em;
}


/*************************************
* Footer
**************************************/

.footer-row {
  display: flex;
  justify-content:space-between;
}

.time-item {
  xcolor: #FF0000;
}
.time-group {
  text-align:left;
}

.footer-item {

}
.footer-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}



.divcalendar {
  padding: 15px;
    float:left;
    /*background-color: #FFCC00;*/
}






